<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-tw">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>布卡漫畫下載工具</title>
<link rel="stylesheet" href="/static/min.css">
<link rel="stylesheet" href="/static/buka.css">
{% if cinfo %}
<script>
function selall(source) {
checkboxes = document.getElementsByClassName('cbchap c');
for (var i=0; i<checkboxes.length; i++)
 checkboxes[i].checked = source.checked;
}
function showwait() {
var wait = document.getElementById('plzwait');
wait.style["display"] = "inline-block";
}
document.addEventListener('DOMContentLoaded', function() {
document.getElementById("fgeturl").onsubmit = showwait;
});
</script>
{% endif %}
</head>
<body>
<div id="container">
<h1>布卡漫畫下載工具</h1>
<fieldset>
<section id="app">
<form name="fgetinfo" method="GET">
<input name="f" type="hidden" value="i">
<input id="sname" name="name" type="text" placeholder="漫畫名或ID" value="{{ sname }}">
<button type="submit" class="bukabutton buttonactive">搜尋</button>
</fieldset>
</form>
{{ msg }}
{% if multiresult %}
<h2>搜尋結果：</h2>
<div id="fsresult">
{% for res in multiresult %}
<a class="bukabutton" href="{{ res[0] }}" rel="noreferrer">{{ res[1] }}</a>
{% endfor %}
</div>
{% endif %}
{% if cinfo %}
<h2>漫畫資訊：</h2>
<table id="comicinfo">
<tr><td>漫畫編號：</td><td>{{ cinfo[0] }}</td></tr>
<tr><td>漫畫名：</td><td>{{ cinfo[1] }}</td></tr>
<tr><td>作者：</td><td>{{ cinfo[2] }}</td></tr>
<tr><td>最新：</td><td>{{ cinfo[4] }} ({{ cinfo[3] }})</td></tr>
<tr><td>狀態：</td><td>{% if cinfo[5] %}正常{% else %}已下架{% endif %}</td></tr>
</table>
{% if chapters and not cinfo[5] %}
<a class="bukabutton" href="?f=c&mid={{ mid }}">重新生成的 chaporder.dat</a>
{% endif %}
<h2>選擇需要的章節：</h2>
<form id="fgeturl" name="fgeturl" method="POST">
<input name="f" type="hidden" value="u">
<input name="mid" type="hidden" value="{{ cinfo[0] }}">
<fieldset>
{% if chapters %}
{% for chap in chapters %}
<input type="checkbox" id="c{{ chap[0] }}" class="cbchap c" name="{{ chap[0] }}" value="">
<label for="c{{ chap[0] }}">{{ chap[1] }}</label>
{% endfor %}
{% else %}
<p class="error">抱歉，無法獲得章節列表</p>
{% endif %}
</fieldset>
<input type="checkbox" id="cselall" class="cbchap" onclick="selall(this)">
<label for="cselall">全選</label>
<button type="submit" class="bukabutton buttonactive">獲取下載地址</button><span id="plzwait">請稍候……</span>
</form>
<div id="opt"><a href="bukadownloader.zip">下載原始碼</a></div>
{% endif %}
{% if links %}
<h2>說明：</h2>
<p>
請將下載檔名從例如“{{ mid }}-{{ links[0][0] }}-20141004004712.h.dat”格式改成“{{ links[0][0] }}.buka”(安卓)或“pack.dat”(iOS)，即可使用。<br>下載以下的 chaporder.dat 並放入相應漫畫編號目錄可使布卡能顯示正確的目錄列表以便進一步操作。</p><p>
<a class="bukabutton" href="?f=c&mid={{ mid }}">重新生成的 chaporder.dat</a></p><p>
注：此檔案為自動生成，缺少部分資訊。若有原檔案，無需替換。檔名必須為“chaporder.dat”。</p>
<h2>直接下載：</h2>
<div id="furllist">
{% for link in links %}
{% if link[2] %}
<a class="bukabutton" href="{{ link[2] }}" title="{{ link[0] }}.buka" download="{{ link[0] }}.buka" rel="noreferrer">{{ link[1] }}</a>
{% else %}
<span class="bukabutton">{{ link[1] }} (獲取失敗)</span>
{% endif %}
{% endfor %}
</div>
<h2>下載地址：</h2>
<textarea>{{ linklist }}</textarea>
{% endif %}
</section>
</div>
</body>
</html>
