<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>布卡漫画下载工具</title>
<link rel="stylesheet" href="/static/pure.m.css">
<link rel="stylesheet" href="/static/buka.m.css">
{% if cinfo %}
<script>
function selall(source) {
checkboxes = document.getElementsByClassName('cbchap c');
for (var i=0; i<checkboxes.length; i++)
 checkboxes[i].checked = source.checked;
}
function showwait() {
var wait = document.getElementById('plzwait');
wait.style["display"] = "inline-block";
}
document.addEventListener('DOMContentLoaded', function() {
document.getElementById("fgeturl").onsubmit = showwait;
});
</script>
{% endif %}
</head>
<body>
<div id="container">
<h1>布卡漫画下载工具</h1>
<section id="app">
<form class="pure-form" name="fgetinfo" method="GET">
<fieldset>
<input name="f" type="hidden" value="i">
<input id="sname" name="name" type="text" placeholder="漫画名或ID" value="{{ sname }}">
<button type="submit" class="pure-button pure-button-primary bukabutton buttonactive">搜索</button>
</fieldset>
</form>
{{ msg }}
{% if multiresult %}
<h2>搜索结果：</h2>
<div id="fsresult">
{% for res in multiresult %}
<a class="bukabutton" href="{{ res[0] }}" rel="noreferrer">{{ res[1] }}</a>
{% endfor %}
</div>
{% endif %}
{% if cinfo %}
<h2>漫画信息：</h2>
<table id="comicinfo">
<tr><td>漫画编号：</td><td>{{ cinfo[0] }}</td></tr>
<tr><td>漫画名：</td><td>{{ cinfo[1] }}</td></tr>
<tr><td>作者：</td><td>{{ cinfo[2] }}</td></tr>
<tr><td>最新：</td><td>{{ cinfo[4] }} ({{ cinfo[3] }})</td></tr>
<tr><td>状态：</td><td>{% if cinfo[5] %}正常{% else %}已下架{% endif %}</td></tr>
</table>
{% if chapters and not cinfo[5] %}
<a class="bukabutton" href="?f=c&mid={{ mid }}">重新生成的 chaporder.dat</a>
{% endif %}
<h2>选择需要的章节：</h2>
<form id="fgeturl" class="pure-form" name="fgeturl" method="POST">
<input name="f" type="hidden" value="u">
<input name="mid" type="hidden" value="{{ cinfo[0] }}">
<fieldset>
{% if chapters %}
{% for chap in chapters %}
<input type="checkbox" id="c{{ chap[0] }}" class="cbchap c" name="{{ chap[0] }}" value="">
<label for="c{{ chap[0] }}">{{ chap[1] }}</label>
{% endfor %}
{% else %}
<p class="error">抱歉，无法获得章节列表</p>
{% endif %}
</fieldset>
<input type="checkbox" id="cselall" class="cbchap" onclick="selall(this)">
<label for="cselall">全选</label>
<button type="submit" class="pure-button bukabutton buttonactive">获取下载地址</button><span id="plzwait">请稍候……</span>
</form>
<div id="opt"><a href="bukadownloader.zip">下载源代码</a></div>
{% endif %}
{% if links %}
<h2>说明：</h2>
<p>
请将下载文件名从例如“{{ mid }}-{{ links[0][0] }}-20141004004712.h.dat”格式改成“{{ links[0][0] }}.buka”(安卓)或“pack.dat”(iOS)，即可使用。<br>下载以下的 chaporder.dat 并放入相应漫画编号目录可使布卡能显示正确的目录列表以便进一步操作。</p><p>
<a class="bukabutton" href="?f=c&mid={{ mid }}">重新生成的 chaporder.dat</a></p><p>
注：此文件为自动生成，缺少部分信息。若有原文件，无需替换。文件名必须为“chaporder.dat”。</p>
<h2>直接下载：</h2>
<div id="furllist">
{% for link in links %}
{% if link[2] %}
<a class="bukabutton" href="{{ link[2] }}" title="{{ link[0] }}.buka" download="{{ link[0] }}.buka" rel="noreferrer">{{ link[1] }}</a>
{% else %}
<span class="bukabutton">{{ link[1] }} (获取失败)</span>
{% endif %}
{% endfor %}
</div>
<h2>下载地址：</h2>
<textarea>{{ linklist }}</textarea>
{% endif %}
</section>
</div>
</body>
</html>
