<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>结巴分词演示</title>
<link rel="stylesheet" href="/static/min.css">
<link rel="stylesheet" href="/static/style.css">
<style type="text/css">
#Top{
text-align: center;
}
#Wrapper{text-align: center;}
#Content{
max-width: 960px;
margin: 0 auto;
}
#Content span{
display: inline-block;
padding: 0 1em;
}
#Bottom{
text-align: center;
margin: 1em;
}
a, a:visited {color: #777;}
a:hover {color: #444;}
textarea{width: 100%;}
textarea, input, select, button{border-radius: 2px}
#bsubmit{border-color: #AAA;}
#bsubmit:focus {border-color: #19E;}
</style>
</head>
<body>
<div id="Top">
	<h2>结巴分词演示</h2>
</div>
<div id="Wrapper">
	<div id="Content">
		<form action="/jiebademo/" method="post">
		<textarea rows="15" name="text">{{ content }}</textarea>
		<span>
			<input type="radio" id="opt1" name="opt" value="1" {{ selected(1) }}>
			<label for="opt1">普通分词</label>
		</span>
		<span>
			<input type="radio" id="opt3" name="opt" value="3" {{ selected(3) }}>
			<label for="opt3">文言文分词</label>
		</span>
		<p>
		<input type="submit" value="开始分词" id="bsubmit">
		<input type="button" value="重置" onclick="javascript:window.location.href='/jiebademo/'">
		</p>
		</form>
	</div>
</div>
<div id="Bottom">
&lt;<a href="https://github.com/gumblex/jieba">GitHub fork</a>&gt;
</div>
</body>
</html>
