<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>500 Internal Server Error</title>
<style>
body {
font-family: Helvetica,Arial,FreeSans,sans-serif;
padding: 2em;
margin: auto;
background-color: #FFFFFB;
}
#container {
max-width: 60em;
margin: 0 auto;
}
h1 {
color: #000;
font-size: 2em;
font-weight: bold;
padding-bottom: .1em;
margin-top: .25em;
margin-bottom: .5em;
font-size: 2em;
}
hr {
border: 1px solid #E6DFD6;
margin: 2em 0;
}
</style>
</head>
<body>
<div id="container">
<h1>内部服务器错误</h1>
出了点小问题，请稍后重试。
<hr>
<h1>Internal Server Error</h1>
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
</div>
</body>
</html>
