<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="zh-cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/favicon.png" />
<title>新闻存档搜索</title>
<link rel="stylesheet" href="/static/pure.m.css">
<link rel="stylesheet" href="/static/style.m.css">
<script async="async" src="/static/base64.min.js" type="text/javascript"></script>
<script>
function encodeb64(){
document.getElementById("searchq").value = Base64.encodeURI(document.getElementById("searchq").value);
}
</script>
</head>
<body>
<div id="container">
<header>
<h1><a href="/">新闻存档搜索</a></h1>
</header>
<section>
<form id="searchform" class="pure-form pure-g" action="" method="GET" onsubmit="encodeb64();">
<div class="pure-u-3-4" id="searchqdiv"><input name="q" placeholder="" id="searchq" value="{{ q }}"></div><div class="pure-u-1-6"><button type="submit" id="searchbtn" class="pure-button pure-button-primary">搜索</button></div>
</form>
{% if correction %}
<div class="noresult">
<p>找不到和您的查询“<em>{{ q }}</em>”有关的内容。</p>
{% if articles %}
<p>显示以下查询字词的结果：<em>{{ correction }}</em></p>
{% endif %}
</div>
{% endif %}
{% for item in articles %}
<article class="news">
<h2 class="newsheader"><a href="{{ item['url'] }}">{{ item["title"] }}</a></h2>
<time class="pub" datetime="{{ item['pubiso'] }}">{{ item['pub'] }}</time>
<a class="cat">{{ item["cat"] }}</a>
<p>{{ item["content"] }}
<a href="{{ item['url'] }}" class="more">…</a>
</p>
</article>
{% endfor %}
{% if pagination.pages > 1 %}
<div class="pagination">
{% if pagination.has_prev %}
<a href="{{ url_for_other_page(q, p - 1) }}" class="pprev">&laquo;</a>
{% endif %}
{%- for page in pagination.iter_pages() %}
{% if page %}
  {% if page != p %}
    <a href="{{ url_for_other_page(q, page) }}">{{ page }}</a>
  {% else %}
    <strong>{{ page }}</strong>
  {% endif %}
{% else %}
  <span class="ellipsis">…</span>
{% endif %}
{%- endfor %}
{% if pagination.has_next %}
<a href="{{ url_for_other_page(q, p + 1) }}" class="pnext">下一页 &raquo;</a>
{% endif %}
</div>
{% endif %}
</section>
<footer>
<p>by Gumble, 2014</p>
</footer>
</div>
</body>
</html>
