<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="文言文線上翻譯,文言文機器翻譯,文言文翻譯器,古文翻譯">
<title>文言文線上翻譯</title>
<link rel="shortcut icon" href="/static/wenyan.png">
<link rel="stylesheet" href="/static/min.css">
<link rel="stylesheet" href="/static/wenyan.css">
</head>
<body>
<div id="container">
<header>
<h1 id="pagetitle">關於「文言文線上翻譯」</h1>
</header>
<article>
<p>本站自動翻譯的原理是機器使用統計方法自動從大量語料中學習並生成翻譯結果（統計機器翻譯）。具體技術細節請參考<a href="https://gumble.pw/classical-chinese-translation.html">這篇文章</a>。機器翻譯的結果存在一定的錯誤，本站對翻譯的正確性和服務質量不做任何保證。本站對輸入內容或使用輸出結果造成的任何問題概不負責。
</p><p>
<b>隱私宣告：</b>本站記錄您的 IP、瀏覽器、來源網址等日誌內容，也記錄您提交內容的字數、句數和翻譯處理時間，以及其他用於除錯和統計分析的資料。本站<b>不記錄</b>您提交的翻譯原文和生成的譯文。
</p><p>
有任何具體的改進建議或問題，請聯絡 info # gumble . pw。
</p><p>
BTC 捐贈地址：<code>15yidDtrWwxgvrgC4WV7Bh5wGYMhjMVEbV</code>
</p>
<p><a href="./">← 返回</a></p>
</article>
</div>
</body>
</html>
