<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="文言文在线翻译,文言文机器翻译,文言文翻译器,古文翻译">
<title>文言文在线翻译</title>
<link rel="shortcut icon" href="/static/wenyan.png">
<link rel="stylesheet" href="/static/min.css">
<link rel="stylesheet" href="/static/wenyan.css">
</head>
<body>
<div id="container">
<header>
<h1 id="pagetitle">关于「文言文在线翻译」</h1>
</header>
<article>
<p>本站自动翻译的原理是机器使用统计方法自动从大量语料中学习并生成翻译结果（统计机器翻译）。具体技术细节请参考<a href="https://gumble.pw/classical-chinese-translation.html">这篇文章</a>。机器翻译的结果存在一定的错误，本站对翻译的正确性和服务质量不做任何保证。本站对输入内容或使用输出结果造成的任何问题概不负责。
</p><p>
<b>隐私声明：</b>本站记录您的 IP、浏览器、来源网址等日志内容，也记录您提交内容的字数、句数和翻译处理时间，以及其他用于调试和统计分析的数据。本站<b>不记录</b>您提交的翻译原文和生成的译文。
</p><p>
有任何具体的改进建议或问题，请联系 info # gumble . pw。
</p><p>
BTC 捐赠地址：<code>15yidDtrWwxgvrgC4WV7Bh5wGYMhjMVEbV</code>
</p>
<p><a href="./">← 返回</a></p>
</article>
</div>
</body>
</html>
