<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="文言文線上翻譯,文言文機器翻譯,文言文翻譯器,古文翻譯">
<title>文言文線上翻譯</title>
<link rel="stylesheet" href="/static/pure.m.css">
<link rel="stylesheet" href="/static/wenyan.m.css">
<link rel="stylesheet" href="/static/grids-responsive-min.css">
<script>
function autoGrow (oField) {
if (oField.scrollHeight > oField.clientHeight) {
oField.style.height = oField.scrollHeight + oField.clientTop*2 + "px";
}}
window.onload = function(){
autoGrow(document.getElementById('tinput'));
{% if uncertain %}
document.getElementById("changedir").onclick = function() {
document.getElementById("hidden-lang").value = "{{ uncertain }}";
document.getElementById("translateform").submit();
return false;
}
{% endif %}
}
</script>
</head>
<body>
<div id="container">
<header>
<h1 id="pagetitle">文言文翻譯<span id="ver">測試版</span></h1>
</header>
<section id="appmain" class="pure-g">
<div class="pure-u-1 pure-u-md-1-2">
	<form id="translateform" action="{{ action }}" method="POST">
	<h2>原文</h2>
	<div>
	<textarea id="tinput" name="input">{{ tinput }}</textarea>
	</div>
	<div class="pure-g" id="ctrlgroup">
	<div class="pure-u-2-3" id="ctrlradiog">
	<span id="ctrlauto">自動識別翻譯方向</span>
	<input id="hidden-lang" type="hidden" name="lang" value="auto">
	</div>
	<div class="pure-u-1-3">
	<button type="submit" id="ctrlsubmit">翻譯</button>
	</div>
	{{ captcha }}
	</div>
	</form><!-- class="pure-button pure-button-primary"-->
</div>
<div class="pure-u-1 pure-u-md-1-2">
	<h2>譯文</h2>
	<article id="toutput">{{ toutput }}</article>
	{% if uncertain %}
	<div id="wrongdir">翻譯方向錯誤？<a href="#" id="changedir">點選重新翻譯</a></div>
	{% endif %}
</div>
</section>
</div>
</body>
</html>

