<!DOCTYPE html>
<html lang="zh-tw">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="文言文線上翻譯,文言文機器翻譯,文言文翻譯器,古文翻譯">
<title>文言文線上翻譯</title>
<link rel="stylesheet" href="/static/min.css">
<link rel="stylesheet" href="/static/wenyan.css">
<!--
<link rel="stylesheet" href="/static/grids-responsive-min.css">
-->
<script>var c2mtxt = "文言文→現代文", m2ctxt = "現代文→文言文";
var talign = {{ talign|default('[]') }};</script>
<script src="/static/wenyan.js"></script>
</head>
<body>
<div id="container">
<header>
<h1 id="pagetitle">文言文翻譯<span id="ver">測試版</span></h1>
</header>
<section id="appmain" class="row rmd">
<div class="col c6">
	<form id="translateform" method="POST">
	<h2>原文</h2>
	<div id="tinputgroup">
		<pre id="hl-input" name="input"></pre>
		<textarea id="tinput" name="input" spellcheck="false">{{ tinput }}</textarea>
	</div>
	<div id="progressbar"></div>
	<div class="row" id="ctrlgroup">
	<div class="col c8" id="ctrlradiog">
	<span id="ctrlauto">自動識別翻譯方向</span><a href="#" class="abutton" id="ctrlchange">切換</a>
	<input id="hilang" type="hidden" name="lang" value="auto">
	</div>
	<div class="col c4" id="ctrlsubmitdiv">
	<button type="submit" id="ctrlsubmit">翻譯</button>
	</div>
	</div>
	{{ captcha }}
	</form>
</div>
<div class="col c6">
	<div id="translateresult">
	<h2>譯文</h2>
	<article id="toutput">{{ toutput }}</article>
	</div>
</div>
</section>
</div>
</body>
</html>
